/* ROUNDED THEME FOR ROFI */
/* Author: Sajad Shafi */

* {
    /* Everforest Dark (medium) */
    black:		#232a2e;
    white:		#FFFFFF;
    background:		#2d353b;
    background-alt:	#343f44;
    foreground:		#d3c6aa;
    primary:		#a7c080;
    primaryLight:	#83c092;
    onPrimary:		#2d353b;
    red:		#e67e80;
    transparent:	#00000000;
    transparentBg:	#232a2eE6;
    urgent:		#e67e80FF;
}

@import "~/.config/rofi/app_launcher.rasi"

